body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.topnav{
    background-color: aqua;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.topnav .logo img{
    height: 50px;
    
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: rgb(104, 4, 24);
    font-size: 19px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.activem,a:hover{
    background: rgb(73, 115, 111);
    transition: .5s;
    color: rgb(209, 209, 240);
}
.nav_btn .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color:white ;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black; 
}

.btn:hover{
    background-color:rgb(73, 115, 111);
    color: wheat;
}
/* section */

.wrapper{
    margin: 150px auto;
    width: 70%;
}

.wrapper img{
    max-width: 350px;
    float: right;
    /* border: 4px solid rgb(7, 149, 137);
    border-radius: 15px; */
    margin-right: 20px;
}

.wrapper h2{
    color: rgb(7, 171, 168);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text_box span{
    color: rgb(17, 18, 18);
    font-size: 38px;
}
/* h1{
    color: rgb(255, 255, 255);
    font-style: bold;
    margin-top: 10%;
    text-align: center;
    background-color: purple;
} */
 .section_btn .applybtn{
    display: inline-block;
    padding: 12px 26px;
    background-color:rgb(15, 179, 229) ;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
}


.applybtn:hover{
    background-color:rgb(73, 115, 111);
    color: wheat;
}

.section_btn .learnbtn{
    display: inline-block;
    padding: 12px 26px;
    background-color:rgb(15, 179, 229) ;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
}

.learnbtn:hover{
    background-color:rgb(73, 115, 111);
    color: wheat;
}

section{
    display: block;
}
.about{
    padding: 80px;
    height: 50%;
   
}
.about h2{
    color: rgb(14, 15, 15);
    font-size: 36px;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.about span{
    font-size: 40px;
}
.about p{
    font-size: 16px;

}
.about .image{
    float: right;
    max-width: 100%;
    height: fit-content;
}

.servies{
    padding: 80px;
    height: 50%;
   
}
.servies h2{
    color: rgb(14, 15, 15);
    font-size: 36px;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.servies p{
    font-size: 18px;
}
/* services */
.container{
    display: flex;
    width: 95%;
    justify-content: space-around;
}

.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: opc 7px 10px blue;
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0, 6, 176, 0.5),rgba(155, 129, 240, 0.5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .intro{
    position: relative;
    z-index: 3;
    color: wheat;
    opacity: 0;
    transform: translate(30px);
    transition: 0.5s all;
}
.card:hover .intro{
    opacity: 1;
    transform: translate(0px);
}

.card .intro h1{
    margin: 0;
    color: rgb(237, 237, 243);
}

.card .intro p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: black;
}

.card .intro .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.card .intro .btn:hover{
    box-shadow: opc 7px 10px blue;
    color: aqua;
    background-color: black;
    
}
.benifits{
    padding: 80px;
    height: 50%;
}

.benifits h1{
    color: rgb(14, 15, 15);
    font-size: 36px;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
ul li{
    font-size: 20px;
    font-style: italic;
    color: blue;
}
.content  p{
    font-size: 18px;
    
}

.overview{
    margin: 150px auto;
    width: 70%;
}

.overview img{
    max-width: 350px;
    float: right;
    border: 4px solid rgb(7, 149, 137);
    border-radius: 15px;
    margin-right: 20px;
}

.overview h1{
    color: rgb(7, 171, 168);
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* feedback */
.feedback{
    width: 360px;
    background: #c8f7fb;
    box-shadow: 0 0 24px rgba(0, 6, 176, 0.5);
    opacity: 0.6;
  
    
}

.feedback form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    justify-content: center;
    
   
}
.from h1{
    padding: 10px 0;
}

form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

form textarea{
    padding: 0px 15px;
    border:1px solid rgb(96, 88, 88);
    border-radius: 3px;
    background-color:  rgb(205, 219, 219);
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
} 
form input{
    width: 100%;
    height:50px;
    margin: 4px 0;
    border: 1px solid rgb(96, 88, 88);
    border-radius: 3px;
    background-color: rgb(205, 219, 219);
    padding: 0 15px;
    font-size: 20px;
    padding-right: 45px;
}
form button{
    margin-top: 5px;
    border: none;
    background-color: aqua;
    color: black;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
form button:hover{
    background: black;
    color: #c8f7fb;
}
form input:focus,
form textarea:focus{
    border: 1px blue;
    color: black;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left:4px ;
    color: rgb(11, 30, 59);
    transition: all 0.3s ease;
}
form input:focus + i{
    color: black;
    transition: all 0.3s ease;
}

footer{
    background: rgb(108, 243, 218);
    height: auto;
    width:100%;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 30px;
    color: #fff;
}

.footer_content{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    font-size: 1.1rem;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(227, 227, 235);
}

.footer_bottom{
    background: rgb(247, 203, 203);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: black;
}
.footer_bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: rgb(7, 7, 87);
}

