*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* nav section */
 
nav{
    background: purple;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(233, 237, 241);
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: rgb(117, 13, 141);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

 .wrapper img{
    max-width: 250px;
    float: left;
    border: 4px solid rgb(149, 7, 116);
    border-radius: 15px;
    margin-right: 20px;
    

}
.wrapper{
    margin: 150px auto;
    width: 70%;
}

.wrapper p{
    color: purple;
    font-size: 20px;
}



h1{
    color: rgb(255, 255, 255);
    font-style: bold;
    margin-top: 10%;
    text-align: center;
    background-color: purple;
}

.grid_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    width: 350px;
    background-color: rgb(46, 4, 78);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 12px rgb(0, 0, 0);
    margin: 20px;
}

.card img{
    width:100%;
    height: auto;
}

.card_content{
    padding: 16px;
    color: aliceblue;
}

.card_content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card_content p{
    font-size: 15px;
    line-height: 1.3;
}


.card_content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color:white ;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    
   
}


.btn:hover{
    background-color: rgb(168, 14, 246);
    color: rgb(251, 249, 249);

}



@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 18px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 3, 3);
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin:40px 0 ;
        line-height: 30px;
    }
    nav  ul li a{
        font-size: 20px;
    }
    a.active,a:hover{
        background: none;
        color: rgb(236, 99, 246);
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media (max-width: 858px){
    .img{
     max-width: 100%;
     float: none;
     margin-right: 0;
    }
     
    .wrapper{
     width: 90%;
     margin: 50px auto;
    }
 
    .wrapper p{
     font-size: 15px;
    }
 }
 

 /* CARD */

 @media (max-width: 858px){
    .grid_card{
        margin-top: 30px;
    }
    .card{
        width: 90%;
        margin: 10px auto;
    }
 }

 @media (max-width: 858px){
    .card_content{
        padding: 10px;
    }
    .card_content h3{
        font-size: 24px;
    }
    .card_content p{
        font-size: 14px;
    }
 }

 @media (max-width: 858px){
    .card_content btn{
        font-size: 14px;
        padding: 6px 12px;
        margin-top: 12px;
    }
 }